name: test workflow

on:
  workflow_dispatch:
  push:
    branches: [main]

env:
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

jobs:
  setup-build-publish-deploy:
    name: Setup, Build, Publish, and Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get current date
        run: echo "BUILD_TIME=$(date +'%s')" >> $GITHUB_ENV
    
      - name: Deploy using stored timestamp
        run: echo "Deploying at $BUILD_TIME"

      - name: echo values
        run: |
            echo "VERSION=${{ github.sha }}_$BUILD_TIME" >> $GITHUB_ENV
            echo "VERSION=${{ github.sha }}_${{ steps.date.outputs.date }}" >> $GITHUB_ENV
            echo "VERSION=${{ github.sha }}_$GITHUB_OUTPUT" >> $GITHUB_ENV

      - name: show $GITHUB_ENV
        run: echo $GITHUB_ENV

      - name: Send Status Notifications
        uses: act10ns/slack@v2
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
          channel: '#github-deployments'
        if: always()

  update-dev-deployment-status:
    needs: setup-build-publish-deploy
    name: Update Development Deployment Status
    runs-on: ubuntu-latest
    environment: development
    steps:
      - name: Update Dev Deployment Status
        uses: actions/checkout@v4
